@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: rgb(255, 207, 1);
	--secondary-color: #fff6de;
	--text-primary-color: rgb(15, 23, 28);
	--text-secondary-color: rgb(15 23 28 / 40%);
	--dropdown-bg: #363d42;
}

.home-wrapper {
	background-image: url('/bg/bg_vanta.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card-wrapper {
	background-image: linear-gradient(1turn, #e82a7a, #360354);
	background-image: -ms-linear-gradient(90deg, #e82a7a 0, #360354 50%);
}

/* Start Button Css */
.cbc-button {
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 0.25rem;
	background-image: linear-gradient(80deg, #f16a38, #8d2601);
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
	-webkit-border-radius: 0.25rem;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
}
/* End Button Css */

/*Start Mihir Css */

.secondary-shadow {
	box-shadow: 0 4px 24px #bcbec0;
}
.primary-shadow {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.dropdown-bg {
	background-color: var(--dropdown-bg);
}
.mt-0 {
	margin-top: 0 !important;
}
.top-nav-item:hover {
	color: var(--primary-color);
}
.primary-border {
	border: 1px solid var(--primary-color);
}
.primary-color {
	color: var(--primary-color);
}
.primary-bg {
	background-color: var(--primary-color);
}
.secondary-bg {
	background-color: var(--secondary-color);
}
.text-secondary {
	color: var(--text-secondary-color);
}
.text-primary {
	color: var(--text-primary-color);
}

/* Custom Side nav Item */
.side-nav li a {
	padding: 15px 10px !important;
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 5px;
	color: var(--text-primary-color);
}
.side-nav li a svg {
	display: inherit;
}
.side-nav li a.active {
	background-color: white;
}
.side-nav li a:hover {
	background-color: white;
}
.side-nav li a.active svg {
	color: var(--primary-color);
}
.tab:is(input:checked) {
	border-color: black !important;
	border-bottom-width: 3px !important;
}
.setting-tabs input:hover {
	border-bottom: 3px solid black !important;
}
.analyst-tab .tab:is(input:checked) {
	border-color: var(--primary-color) !important;
}
.invest-tabs .tab:is(input:checked) {
	color: black;
}
.tabs-bordered > .tab {
	border-bottom-width: 3px !important;
	border-color: transparent;
}
.tab {
	height: unset !important;
	padding-bottom: 10px;
}
.custom-tooltip {
	background-color: white !important;
	color: black !important;
	padding: 10px !important;
	width: 180px !important;
	text-align: center;
	font-size: 11px !important;
	line-height: initial !important;
	box-shadow: 0 2px 6px 0 rgba(168, 166, 166, 0.1) !important;
}
.account-suit .custom-tooltip {
	font-size: 16px !important;
	width: 300px !important;
	text-align: left !important;
	color: rgba(0, 0, 0, 0.83) !important;
	font-weight: 400 !important;
	margin-top: 5px !important;
}
.account-suit .custom-tooltip::after {
	content: none !important;
}

.custom-tooltip::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	margin-left: 1em;
	left: 50%;
	right: 0;
	box-sizing: border-box;
	border: 7px solid black;
	border-color: transparent transparent white white;
	transform-origin: 0 0;
	transform: rotate(135deg);
	box-shadow: -3px 3px 3px -2px rgba(168, 166, 166, 0.1);
}

.verification-card:hover {
	box-shadow: 0 4px 24px #bcbec0;
}
.partner-card {
	box-shadow: 0 0px 3px #bcbec0;
}
.partner-card:hover {
	box-shadow: 0 4px 24px #bcbec0;
}
/* Custom Scroller Styles */
body .analyst ul::-webkit-scrollbar {
	width: 5px;
}

body .analyst ul::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: #fafafa;
}

body .analyst ul::-webkit-scrollbar-thumb {
	background-color: #e6e6e6;
}

.banner-area {
	background-image: url('/assets/images/HeroBG.jpg');
}
.cta-button {
	background-image: url('/assets//images/CTABG.jpg');
}
.partner-banner {
	background-image: url('/assets//images/partner-bg.webp');
}
.program-banner {
	background-image: url('/assets//images/partnedetailbg.jpg');
}
/* Responsive Code Here */
@media screen and (min-width: 576px) {
	.package_wrapper .swiper-button-next {
		display: none;
	}
	.package_wrapper .swiper-button-prev {
		display: none;
	}
}
@media screen and (max-width: 576px) {
	.package_wrapper .swiper-button-next,
	.package_wrapper .swiper-button-prev {
		display: unset;
		position: relative;
		top: 20px;
	}
	.package_wrapper .swiper-button-next {
		left: 50px;
	}
	.package_wrapper .swiper {
		overflow-x: hidden;
		padding-bottom: 20px;
	}
}

/*End Mihir Css */

/*Start Registration Banner */
.banner-bg {
	background-image: url(/assets/live-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.privacy-banner-bg {
	background-image: url(/assets/policy.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.legal-banner-bg {
	background-image: url(/assets/legal-documents-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

.contact-us-banner-bg {
	background-image: url(/assets/contact-us-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}
.why-icm-banner-bg {
	background-image: url(/assets/why-banner.webp);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* Add other styles as needed */
}

/*End Registration Banner */

/*Star Tree View CSS */
.tree {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* .node {
	background-image: url('/user.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
} */

/* .node:not(.node--root) .node_element::before {
	content: '';
	width: 1px;
	height: 20px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	margin: auto;
}

.left-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: 50%;
	right: 0;
	top: -21px;
	margin: auto;
}
.right-node::before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: rgb(1, 179, 1);
	display: block;
	position: absolute;
	left: -96%;
	right: 0;
	top: -21px;
	margin: auto;
}

.node_element {
	height: 40px;
	background-color: rgb(1, 179, 1);
	border-radius: 16px;
	color: white;
	min-width: 60px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
}

.node_bottom-line {
	height: 20px;
	width: 1px;
	background-color: rgb(1, 179, 1);
}

.node_children_top_line {
	height: 1px;
	width: 118px;
	background-color: rgb(1, 179, 1);
}

.node_children {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	padding: 20px;
	border-top: 1px solid rgb(1, 179, 1);
	background-color: red;
} */

.bg_vanta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		180deg,
		rgba(29, 38, 59, 0.6) 0%,
		rgba(29, 38, 59, 0.8)
	);
	pointer-events: none;
	z-index: 2;
}

.hero__btn {
	position: relative;
	width: calc(50% - 10px);
	max-width: 200px;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: transparent;
	border-radius: 20px;
	border: 2px solid #aa72ce;
}

.aurora-bg {
	position: fixed;
	inset: 0;
	z-index: -1;
	background: radial-gradient(circle at 20% 30%, #8a44ff22, transparent 60%),
		radial-gradient(circle at 80% 70%, #1f193d22, transparent 60%),
		radial-gradient(circle at 50% 50%, #0b0e2c33, transparent 60%);
	animation: auroraMove 20s ease-in-out infinite alternate;
	filter: blur(80px);
}

@keyframes auroraMove {
	0% {
		background-position: 20% 30%, 80% 70%, 50% 50%;
	}
	100% {
		background-position: 60% 20%, 30% 90%, 40% 60%;
	}
}
